div {
  margin: 40px auto;
  width: 400px;
  background: 10px;
}

p {
  font: italic bold 14px/20px Helvetica, Arial;
  text-align: center;
  text-transform: uppercase;
  text-indent: 20px;
}

ul {
  list-style: none;
}
