header {
  background: #6b35b3;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 800px;
}

h1,
p {
  color: #fff;
  font-size: 24px;
  font-family: arial;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

footer {
  background: #ff3333;
  clear: both;
  height: 60px;
  margin-top: 20px;
  padding: 20px 0;
  width: 800px;
}

article {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 580px;
  float: left;
  top: 20px;
}

aside {
  background: #ccc;
  margin-left: 20px;
  height: 300px;
  width: 200px;
  float: left;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.conteudo {
  margin-bottom: 20px;
  overflow: visible;
  position: relative;
  width: 800px;
}

li {
  background: blue;
  display: inline-block;
  height: 200px;
  margin-bottom: 20px;
  width: 200px;
}
